<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>New Message Form</h1>
    <form action="/new" method="post" id="newMessage">
      <label for="messageUser"></label>
      <input type="text" id="messageUser" name="messageUser" placeholder="User" />
      <label for="messageText"></label>
      <input type="text" id="messageText" name="messageText" placeholder="Message" />
      <button type="submit" form="newMessage">Submit</button>
    </form>
    <a href="/">Go Back</a>
  </body>
</html>
